# Remove the question mark from the request but maintain the query string
RewriteEngine On
RewriteBase /kalyan_chakraborty/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php?$1 [L,QSA]
